.an{
	box-shadow:none;
	transition: .2s;
}

.an .dr_text{
	opacity: 0;
	transition: 1.3s;
}
.an .dr_b{
	opacity: 1;
	transition: 1.5s .5s;
	left:30%;
}
.an .dr_c{
/*	display: block;*/
/*	width: 100%;*/
	opacity: 1;
	transition: 1.5s 1s;

}





